polkit.addRule(function(action, subject) {
    if (action.id === "org.deepin.dde.device.unblock-bluetooth-devices" &&
        subject.isInGroup("sudo") &&
        subject.active) {
        return polkit.Result.YES;
    }
});