Source: dde-api
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-any,
 golang-go | gccgo-5,
 golang-dlib-dev (>= 1.2.13),golang-gir-gobject-2.0-dev (>> 1.2.0+),
 golang-gir-gio-2.0-dev (>> 1.2.0+), golang-gir-glib-2.0-dev (>> 1.2.0+),
 golang-gir-gudev-1.0-dev (>> 1.2.0+),
 golang-github-linuxdeepin-go-x11-client-dev (>= 0.0.4),
 golang-github-linuxdeepin-go-dbus-factory-dev (>= 0.0.5),
 golang-gopkg-check.v1-dev,
 golang-gopkg-alecthomas-kingpin.v2-dev,
 golang-github-disintegration-imaging-dev,
 golang-github-nfnt-resize-dev,
 golang-github-fogleman-gg-dev,
 golang-github-stretchr-testify-dev,
 libxi-dev,
 libcanberra-dev,
 librsvg2-dev,
 libgtk-3-dev,
 libgdk-pixbuf2.0-dev,
 libcairo2-dev,
 libfreetype6-dev,
 libpoppler-glib-dev,
 dh-systemd,
 systemd,
 deepin-gettext-tools,
 libcroco3-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: dde-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 rfkill, locales, libcanberra-pulse, blur-effect, librsvg2-bin, fonts-noto-cjk, fonts-noto-mono,
 bc, fontconfig, coreutils
Description: Go-lang bingdings for dde-daemon
 Deepin Go-lang bindings for dde-daemon

Package: dde-api-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 golang-dlib-dev(>= 1.2.13),golang-gir-gobject-2.0-dev (>> 1.2.0+), golang-gir-gio-2.0-dev (>> 1.2.0+),
 golang-gir-glib-2.0-dev (>> 1.2.0+), golang-gir-gudev-1.0-dev (>> 1.2.0+),
 golang-github-linuxdeepin-go-x11-client-dev (>= 0.0.4),
 golang-github-linuxdeepin-go-dbus-factory-dev (>= 0.0.5),
 golang-gopkg-alecthomas-kingpin.v2-dev,
 libxi-dev,
 libcanberra-dev,
 librsvg2-dev,
 libgtk-3-dev,
 libgdk-pixbuf2.0-dev,
 libcairo2-dev,
 libfreetype6-dev,
 libpoppler-glib-dev,
Description: Go-lang bingdings for dde-daemon
 Go-lang bindings for dde-daemon -- dev file

