#!/usr/bin/make -f
export GOCACHE = /tmp/gocache
export GOPATH := /usr/share/gocode
export GO111MODULE=off
ifeq ($(DEB_BUILD_ARCH),sw_64)
	export GOFLAGS = -vet=off
endif

ifneq ($(DEB_BUILD_ARCH), mips64el)
	export GOBUILD_OPTIONS=-ldflags '-linkmode=external -extldflags "-pie"'
endif

%:
	dh $@ --buildsystem=makefile

override_dh_auto_install:
	dh_auto_install

override_dh_strip:
	dh_strip --dbgsym-migration=dde-api-dbg

override_dh_installsystemd:
	# 需要开机启动
	dh_installsystemd --name=deepin-login-sound --no-start
	dh_installsystemd --name=deepin-shutdown-sound --no-start

	# 不需要开机启动
	dh_installsystemd --name=deepin-api-device --no-enable --no-start
	dh_installsystemd --name=deepin-locale-helper --no-enable --no-start
	dh_installsystemd --name=deepin-sound-theme-player --no-enable --no-start
