[Unit]
Description=Deepin Device Api Service

Requisite=sound.target
After=sound.target

# Ask for the dbus socket.
Wants=dbus.socket
After=dbus.socket

[Service]
Type=dbus
User=deepin-api-device
BusName=org.deepin.dde.Device1
ExecStart=/usr/lib/deepin-api/device

DeviceAllow=/dev/rfkill rw
DevicePolicy=closed

ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
#PrivateDevices=yes
PrivateNetwork=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes

[Install]
Alias=dbus-org.deepin.dde.Device1.service
