[Unit]
Description=Deepin login sound
Requires=sound.target
After=dbus.service lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/lib/deepin-api/deepin-boot-sound.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
