[Unit]
Description=Deepin login sound
Requires=sound.target
After=dbus.service lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/dbus-send --system --dest=com.deepin.api.SoundThemePlayer --print-reply /com/deepin/api/SoundThemePlayer com.deepin.api.SoundThemePlayer.PlaySoundDesktopLogin
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
