[Unit]
Description=Deepin shutdown sound
Requisite=sound.target local-fs.target
After=sound.target local-fs.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
# added automatically, for details please see
# https://en.opensuse.org/openSUSE:Security_Features#Systemd_hardening_effort
ProtectSystem=full
ProtectHome=true
#PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
# end of automatic additions 
Type=simple
ExecStart=/usr/bin/true
ExecStop=/usr/lib/deepin-api/deepin-shutdown-sound
RemainAfterExit=yes
TimeoutStopSec=7s

[Install]
WantedBy=graphical.target
