[Unit]
Description=Deepin login sound
Requires=sound.target
After=dbus.service lightdm.service

[Service]
Type=oneshot
User=deepin-daemon
SupplementaryGroups=audio
Environment=HOME=/var/lib/deepin-sound-player
ExecStart=/usr/lib/deepin-api/deepin-boot-sound.sh
RemainAfterExit=yes

DevicePolicy=closed

ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes

[Install]
WantedBy=multi-user.target