[Unit]
Description=Deepin shutdown sound
After=shutdown.target
Before=umount.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/deepin-api/deepin-shutdown-sound
RemainAfterExit=yes
KillSignal=SIGINT
KillMode=none
TimeoutStopSec=3s

[Install]
WantedBy=umount.target
